* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.navigation {
  background: rgba(0, 0, 0, 0.219);
  height: 5rem;
  width: 100%;
}

.loading {
  background: black;
  height: 100%;
  width: 100%;
  padding-top: 50%;
  color: white;
  text-align: center;
  vertical-align: middle;
}
