* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.navigation {
  position: fixed;
  background: white;
  font-family: BrownRegular, arial, sans-serif;
  z-index: 11;
  width: 100%;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

ul {
  z-index: 12;
  width: 100%;
  box-sizing: border-box;
  padding-right: 40px;
  padding-left: 40px;
  height: 35px;
  display: flex;
  color: #fff;
  position: relative;
  list-style-type: none;
  pointer-events: none;
  margin: 20px 0 20px 0;
}

li {
  margin: 0 0 0 3rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: color 0.2s;
  pointer-events: all;
  display: block;
}

a {
  display: block;
  height: 35px;
  line-height: 35px;
  text-underline: none;
  text-decoration: none;
  color: #333;
}

.logo {
  margin-right: auto;
  margin-left: 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.home {
  background: rgba(238, 238, 238, 0.308);
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.home__welcome {
  position: absolute;
  font-family: serif;
  top: 30%;
  left: 5%;
  width: 35%;
}

.home__welcome h1 {
  color: #333;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.home__welcome p {
  color: #333;
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.home__hero {
  position: absolute;
  right: 0;
  top: 5%;
  width: 50%;
}

.home__hero img {
  position: absolute;
  width: 100%;
  height: 150%;
  top: 50%;
  left: 0;
  height: auto;
}

.loading {
  opacity: 0.5;
  position: absolute;
  left: 0;
  z-index: 99;
  height: 100%;
  width: 100%;
  background: black;
}
